.header {
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.white {
    color: #000000;
    background-color: #FFFFFF;
}

.padding {
    padding: 8px 16px;
}

.space-line {
    margin-top: 10px;
}

.site-content {
    margin-top: 5em;
    margin-left: 40px;
    margin-right: 40px;
}

.bar-item {
    padding: 8px;
    float: left;
    width: auto;
    display: block;
}

.right {
    float: right;
    padding-right: 35px;
}

a {
    margin-top: 1.2%;
}

.box {
    width: 300px;
    height: 50px;
}

.container-1 {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

input#search {
    width: 300px;
    height: 40px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.display {
    max-width: 1500px;
}

.center-fit {
    width: -webkit-fill-available;
    max-height: 25em;
    margin: auto;
}

/*Category*/

.column {
    float: left;
    width: 22%;
    margin: 1.5%;
    background: #dce8f1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}